

<!-- Advanced Search Form -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Advanced Search</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="search-item-id">Item Id</label>
                <input type="text" class="form-control select2" placeholder="Item Id" style="width: 100%;" ng-model="itemToFind.id" required>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="search-item-name">Item Name</label>
                <input type="text" class="form-control select2" placeholder="Item Name" style="width: 100%;" ng-model="itemToFind.itemName">
              </div>
              <!-- /.form-group -->
              <!-- /.form-group -->
              <div class="form-group" style="margin-left: 40px">
              	<div class="checkbox">
	            <label>
	              <input type="checkbox" ng-model="checkOutStatus"> Checked Out
	            </label>
	           </div>
	           <div class="checkbox">
	            <label>
	              <input type="checkbox" ng-model="checkInStatus"> Checked In
	            </label>
	           </div>
               </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Item Serial</label>
                	<input type="text" class="form-control select2" placeholder="Serial"  style="width: 100%;" ng-model="itemToFind.serial">
              </div>
              <!-- /.form-group -->
              <div class="form-group">
              	<label for="last-calibrated" class="control-label">Last Calibrated</label>
					<input id="search-last-calibrated" type="date" class="form-control" placeholder="yyyy-MM-dd" ng-model="itemToFind.lastCalibrated">
			  	</div>	
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          
         <table id="itemTable" class="table table-bordered table-striped" ng-show="results">
					      		<thead>
					      			<tr>
										<th>Item ID </th>
										<th>Serial </th>	
										<th>Item Name </th>
										<th>Status </th>
										<th>Location </button></th>
										<th>Last Calibrated </th>
										<th></th>
					      			</tr>
					      		</thead>
					      		
					      		<!--  <tbody ng-repeat="item in allItems | orderBy:'employeeId'">-->
					      		<tbody>
									<tr ng-repeat="found in results"> 
										<td> {{ found.id }} </td>
										<td> {{ found.serial }} </td>
										<td> {{ found.itemName }} </td>
										<td> <div style="display: table; margin: 0 auto;" ng-switch on = found.status>
										        <p ng-switch-when = "CHECKED_OUT"><span class="label label-danger">Checked Out</span></p>
										        <p ng-switch-when = "CHECKED_IN"><span class="label label-success">Checked In</span></p>
										    </div>
										</td>
										<td> {{ found.location }} </td>
										<td> {{ found.lastCalibrated }} </td>	
										<td><button type="button" class="btn btn-block btn-default" ng-click = "updateItem(found)")>Update</button></td>			
									</tr>
					      		</tbody>
							</table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
      		<button type="submit" class="btn btn-default">Cancel</button>
      		<button type="submit" class="btn btn-info pull-right" ng-click="searchItem(itemToFind)">Search</button>
    		</div>
      	</div>
      	<!-- /.box -->