
<div class="box">              
	<div class="box-header">
		<h3 class="box-title">Items Available for Checkout: {{ location }}</h3>
	</div>

	<!-- /.box-header -->
	<div class="box-body">
    	<table id="itemTable" class="table table-bordered table-striped">
      		<thead>
      			<tr>
					<th>Item ID <button ng-click="type = 'itemId'; reverse = !reverse" i class="fa fa-filter"></button></th>
					<th>Serial <button ng-click="type = 'employeeId'; reverse = !reverse" i class="fa fa-filter"></button></th>	
					<th>Item Name <button ng-click="type = 'itemName'; reverse = !reverse" i class="fa fa-filter"></button></th>
					<th>Status <button ng-click="type = 'checkIn'; reverse = !reverse" i class="fa fa-filter"></button></th>
					<th>Location <button ng-click="type = 'checkOut'; reverse = !reverse" i class="fa fa-filter"></button></th>
					<th>Last Calibrated <button ng-click="type = 'lastCalibrated'; reverse = !reverse" i class="fa fa-filter"></button></th>
      			</tr>
      		</thead>
      		
      		<!--  <tbody ng-repeat="item in allItems | orderBy:'employeeId'">-->
      		<tbody ng-repeat="item in allItems | orderBy:type:reverse | filter:getFilter()">
				<tr>
					<td> {{ item.id }} </td>
					<td> {{ item.itemName }} </td>
					<td> {{ item.serial }} </td>
					<td> {{ item.status }} </td>
					<td> {{ item.location }} </td>
					<td> {{ item.lastCalibrated }} </td>				
				</tr>
      		</tbody>
		</table>
	</div>
</div>
<!-- /.box -->
