      <!-- Small boxes (Stat box) -->
      <div class="row" ng-controller="WidgetController">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3> {{ totalCount }}</h3>

              <p>Total Items</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <div class="small-box-footer" ng-click="changeFilter('')" style="cursor: pointer">More info <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ checkedInCount }}</h3>

              <p>Items Checked In</p>
            </div>
            <div class="icon">
              <i class="ion ion-log-in"></i>
            </div>
            <div class="small-box-footer" ng-click="changeFilter('checkedIn')" style="cursor: pointer">More info <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ checkedOutCount }}</h3>

              <p>Items Checked Out</p>
            </div>
            <div class="icon">
              <i class="ion ion-log-out"></i>
            </div>
            <div class="small-box-footer" ng-click="changeFilter('checkedOut')" style="cursor: pointer">More info <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ lastCalibratedCount }}</h3>

              <p>Items to be Calibrated</p>
            </div>
            <div class="icon">
              <i class="ion ion-gear-b"></i>
            </div>
            <div class="small-box-footer" ng-click="changeFilter('needCalibration')" style="cursor: pointer">More info <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div>
     <!--   <input type="text" ng-model="filter">
  <br>Top widget is : <strong>{{filter}}</strong> -->
  
  
      </div>