
<!-- Add Reader Profile Form -->
<div class="box box-default">
	<!-- form start -->
	<div class="nav-tabs-custom">
    	<!-- Tabs within a box -->
    	<ul class="nav nav-tabs pull-left">
      		<li class="pull-left header"><i class="fa fa-archive"></i> Update Item Table</li>
      		<li class="active"><a data-toggle="tab" ng-click="showAddItem()">Add Item</a></li>
      		<li><a data-toggle="tab" ng-click="showEditItem()">Edit Existing</a></li>
      	</ul>
    
    <!-- TODO: Find a way to position these without using br -->
    <br><br><br><br>
    
    <div class="tab-content no-padding">
    	<form class="form-horizontal" id = "add-item">
    		<div class="box-body" ng-switch="updateOption">
      			<div ng-switch-when="add-item-option">
	      			<div class="form-group">
	        			<label for="item-id" class="col-sm-2 control-label">Item Id</label>
						<div class="col-sm-10">
	          				<input type="text" class="form-control" id="item-id" placeholder="Item Id" ng-model="item.id" required>
	        			</div>
	      			</div>
	      			
	      			<div class="form-group">
	        			<label for="serial" class="col-sm-2 control-label">Serial Number</label>
	
	        			<div class="col-sm-10">
	          				<input type="text" class="form-control" id="serial" placeholder="Serial" ng-model="item.serial">
	        			</div>
	      			</div>

	      			<div class="form-group">
	        			<label for="item-name" class="col-sm-2 control-label">Item Name</label>
	
	        			<div class="col-sm-10">
	          				<input type="text" class="form-control" id="item-name" placeholder="Item Name" ng-model="item.itemName">
	        			</div>
	      			</div>
	      			
					<div class="form-group">
						<label for="location" class="col-sm-2 control-label">Location</label>
					
					 	<div class="col-sm-10">
							<select class="form-control" id="location" placeholder="Current Location" ng-model="item.location" ng-change="item.owner=item.location" required>
								<option>Metrology</option>
								<option>Production</option>
					      		<option>Software Engineering</option>
					    	</select>
						</div>
					</div>
	
					<div class="form-group">
						<label for="last-calibrated" class="col-sm-2 control-label">Last Calibrated</label>
							<div class="col-sm-3">
							    <input id="last-calibrated" type="date" class="form-control" placeholder="yyyy-MM-dd" ng-model="item.lastCalibrated" required>
							</div>
					</div>					 
              
			 		<div class="form-group">	 		
			        	<div class="col-sm-offset-2 col-sm-10">
			          	<div class="checkbox">
			            <label>
			              <input type="checkbox" ng-model="item.checkStatus"> Checked Out
			            </label>
			           </div>
			         </div>
			    </div>
			        
	        <div ng-show="item.checkStatus">
              
              <div class="form-group">
	            <label for="checkout-date" class="col-sm-2 control-label">Check Out Date</label>
	              <div class="col-sm-3">
	                  <input id="checkout-date" type="date" class="form-control" placeholder="yyyy-MM-dd" ng-model="item.checkTime">
	              </div>
	          </div>
          </div>
			
				<div class="box-footer">
				  <button id="clear-form" type="submit" class="btn btn-default" ng-click="clearData()">Clear</button>
				  <button id ="save-item" type="submit" class="btn btn-info pull-right" ng-click="addItem(item)">Add</button>
				</div>
				<!-- /.box-footer -->
			</div>
			
			<div ng-switch-when="edit-item-option">
				<div class="form-group">
	        			<label for="item-name" class="col-sm-2 control-label">Search Item Id</label>
	
	        			<div class="col-sm-8 input-group input-group-sm">
	          				<input type="text" class="form-control" id="search-item-name" placeholder="Item Name" ng-model="toFind">
	        				<span class="input-group-btn">
	        					<button type="button" class="btn btn-info btn-flat fa fa-search" ng-click="searchItem(toFind)"></button>
	        				</span>
	        			</div>
	        			<div class="col-sm-2"></div>
	      			</div>
						<ul>
							<table id="itemTable" class="table table-bordered table-striped" ng-show="results">
					      		<thead>
					      			<tr>
										<th>Item ID </th>
										<th>Serial </th>	
										<th>Item Name </th>
										<th>Status </th>
										<th>Location </button></th>
										<th>Last Calibrated </th>
					      			</tr>
					      		</thead>
					      		
					      		<!--  <tbody ng-repeat="item in allItems | orderBy:'employeeId'">-->
					      		<tbody>
									<tr ng-repeat="found in results"> 
										<td> {{ found.id }} </td>
										<td> {{ found.serial }} </td>
										<td> {{ found.itemName }} </td>
										<td> <div style="display: table; margin: 0 auto;" ng-switch on = found.status>
										        <p ng-switch-when = "CHECKED_OUT"><span class="label label-danger">Checked Out</span></p>
										        <p ng-switch-when = "CHECKED_IN"><span class="label label-success">Checked In</span></p>
										    </div>
										</td>
										<td> {{ found.location }} </td>
										<td> {{ found.lastCalibrated }} </td>				
									</tr>
					      		</tbody>
							</table>
								<!--  
	      		<div class="box-footer">
				  <button type="submit" class="btn btn-default">Cancel</button>
				  <button type="submit" class="btn btn-info pull-right">Edit</button>
				</div>-->
								<!-- /.box-footer -->
					</div>
	
	     
      </div>
      <!-- 
      <div class="form-group">
        <label for="reader-id" class="col-sm-2 control-label">Employee Id</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="reader-id" placeholder="Reader Id">
        </div>
      </div>
      -->
      </form>
      </div>
	</div>
</div>
