<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DataSaints Login</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script src="js/login.js"></script>
	</head>
	<body ng-app="login" ng-controller="Login as login">
	   <h1>Login</h1>
	   
	   <input type="text" ng-model="login.username" placeholder="username"><br>
	   <input type="password" ng-model="login.password" placeholder="password"><br>
	   <br>
	   
	   <button ng-click="login.register()">Register</button>
	   <button ng-click="login.login()">Login</button>
	   <button ng-click="login.logout()" ng-show="app.isAuthed()">Logout</button>
	   
	   <button ng-click="login.getQuote()">get quote</button>
	   <br><br>
	   {{app.message}} 
	  
	</body>
</html>